* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}


.proyectos {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;

}

.proyecto_boton_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #00b0ff;
    width: 225px;
    height: 50px;
}

.proyecto_boton_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #04dd04;
    width: 225px;
    height: 50px;
}

.proyecto_boton:hover {
    background-color: #cccccc;
}

.proyecto_texto {
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}